body {
  background-color:#eeeeff;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}

#Cast-button {
    display: none;
    padding: 0;
    margin: 0;
    vertical-align: top;
    /*background-color: Transparent;*/
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    /*outline:none;*/
}